.individual-stock-supervision-child {
    position: absolute;
    top: 129px;
    left: 115px;
    border-radius: 50px;
    background-color: #6a90a9;
    width: 1200px;
    height: 748px;
}
.vuesaxlinearclose-circle {
    cursor: pointer;
    border: 5px solid white;
    background-color: transparent;
    position: absolute;
    top: 162px;
    left: 1213px;
    width: 57px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
}

.close-icon {
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}
.product-name3 {
    position: absolute;
    top: 213px;
    left: 178px;
    display: inline-block;
    width: 538px;
    height: 64px;
}
.description4 {
    margin-bottom: 0px;
    line-height: 1.8;
}
.price1 {
    margin-bottom: 0px;
}
.quantity1 {
    margin-bottom: 0px;
}
.description-price-quantity {
    margin: 0;
    font-family: inherit;
    padding-left: 28px;
}
.blank-line2 {
    margin: 0;
    font-size: 30px;
}
.description-price-quantity-container {
    position: absolute;
    top: 396px;
    left:748px;
    text-align: justify;
    display: inline-block;
    width: 522px;
    height: 265px;
    font-size: 23px;
}

.products-catalog1 {
    position: absolute;
    top: 16.7px;
    left: 21.7px;
    display: inline-block;
    width: 406.7px;
    height: 15.7px;
}
.vector-parent2 {
    position: absolute;
    top: 44px;
    left: 122.8px;
    text-align: left;
    font-size: 16px;
    color: #fff; background-color: #464040;
    display: flex;
    align-items: center;
    padding-left: 21.7px;
    box-sizing: border-box;
    width: 451.2px;
    height: 49.2px;
}
.individual-stock-supervision-item {
    position: absolute;
    top: 320px;
    left: 180px;
    border-radius: 10px;
    width: 508px;
    height: 456px;
    object-fit: cover;
}
.individual-stock-supervision {
    width: 100%;
    position: relative;
    background-color: #181a27;
    height: 1080px;
    text-align: center;
    font-size: 48px;
    color: #000;
    font-family: "Roboto Mono";
    min-height: 100vh;
}