<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row class="toolbar-row">
        <img id="logo" [src]="'assets/images/logo-white.svg'" alt="Logo-AutoPro-Tracker" height="80" width="134"/>
        <button class="toolbar-item" (click)="drawer.toggle()" aria-label="Toggle Sidenav" mat-icon-button type="button">
          <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let option of options">
        <a style="color: white;" mat-button [routerLink]="option.path" (click)="drawer.close()">
          <h3>{{ option.title }}</h3>
          <mat-icon>{{ option.icon }}</mat-icon>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)="drawer.toggle()" aria-label="Toggle Sidenav" mat-icon-button type="button">
      <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
    </button>
    <section class="container">
      <h2>AutoPro Tracker</h2>
      <div class="login-container">
        <mat-icon aria-label="Toolbar Client icon">person</mat-icon>
        <a href=""><h2>Usuario</h2></a>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet/>


