<div class="div">
    <div class="div-2">
        <div class="div-3">New client</div>
        <div class="div-4">
            <input type="text" id="name" name="name" placeholder="Account name">
        </div>
        <div class="div-5">
            <input type="text" id="lastname" name="lastname" placeholder="Account last name">
        </div>
        <div class="div-6"><button>Search</button></div>
        <div class="div-7">
            <div class="div-8">Account found</div>
        </div>
        <div class="div-9">Chosen account: Not selected yet</div>
        <div class="div-10">
            <input type="text" id="automotive" name="automotive" placeholder="Automotive">
        </div>
        <div class="div-11">
            <div class="div-12"><button>Add client</button></div>
            <div class="div-13"><button (click)="onCancel()">Cancel</button></div>
        </div>
    </div>
</div>
