<div class="container">
    <div class="inner-container">
        <div class="header">New client</div>
        <div class="form-group">
            <input type="text" id="name" name="name" placeholder="Account name">
        </div>
        <div class="form-group">
            <input type="text" id="lastname" name="lastname" placeholder="Account last name">
        </div>
        <div class="form-group">
            <button class="search-button">Search</button>
        </div>
        <div class="status-message">
            <div class="status-text">Account found</div>
        </div>
        <div class="chosen-account">Chosen account: Not selected yet</div>
        <div class="form-group">
            <input type="text" id="automotive" name="automotive" placeholder="Automotive">
        </div>
        <div class="button-group">
            <button class="add-button">Add client</button>
            <button class="cancel-button" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>
