<div class="body">
    <div class="div">
        <div class="title-container">New Vehicle</div>
        <div class="container">
            <div class="left">
                <div class="input-item">
                    <input type="text" id="brand" name="brand" placeholder="Brand:">
                </div>
                <div class="input-item">
                    <input type="text" id="model" name="model" placeholder="Model:">
                </div>
                <div class="input-item">
                    <input type="text" id="license-plate" name="license-plate" placeholder="License plate:">
                </div>
                <div class="input-item">
                    <input type="text" id="kilometer" name="kilometer" placeholder="Kilometer:">
                </div>
                <div class="input-item">
                    <input type="text" id="owner" name="owner" placeholder="Owner:">
                </div>
                <button routerLink="/client">Add Vehicle</button>
            </div>
            <div class="right">
                <h3>Enter a picture (URL):</h3>
                <input type="url">
            </div>
        </div>
    </div>
</div>