
.div {
    background-color: #406378;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 60px 0;
}

@media (max-width: 991px) {
    .div {
        padding: 0 20px;
    }
}

.div-2 {
    background-color: #406378;
    display: flex;
    width: 100%;
    max-width: 1418px;
    flex-direction: column;
    padding: 80px 70px;
}

@media (max-width: 991px) {
    .div-2 {
        max-width: 100%;
        padding: 0 20px;
    }
}

.div-3 {

    display: flex;
    margin-top: 70px;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-3 {
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.client-card {
    margin: 20px;
    max-width: 400px;
    background-color: #6A90A9;
    border: white 3px solid;
    text-align: justify;
}

.mat-card-title,
.mat-card-subtitle {

    font-family: Roboto Mono, sans-serif;
    color: #000;
    text-align: center;
}

.mat-card-content p {
    font-family: Roboto Mono, sans-serif;
    text-align: center;
    color: #000;
    margin: 0;
}

.client-card-action button {
    font-family: Roboto Mono, sans-serif;
    border-radius: 40px;
    background-color: #002e43;
    color: #ffffff;
    margin-right: 8px;
    justify-content: center;
    padding: 22px 49px;
}


