<div class="log-in-container">
  <div class="form-content">
    <form class="log-in-form" style="margin: 50px auto; width: 400px;" (ngSubmit)="onLogin()" #loginForm="ngForm">

      <h1 class="text-white">Welcome</h1>
      <span class="text-white">It's a pleasure to have you back</span>

      <div>
        <div class="inputs-container" style="margin-top: 20px">
          <label class="text-white">User</label>
          <mat-form-field>
            <input matInput placeholder="Type your user" [(ngModel)]="username" name="username" required>
          </mat-form-field>
        </div>

        <div class="inputs-container">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <label class="text-white">Password</label>
            <a href="#" style="font-size: 10px; color: white;">Forgot Password?</a>
          </div>
          <mat-form-field>
            <input matInput type="password" placeholder="Type your password" [(ngModel)]="password" name="password" required>
          </mat-form-field>
        </div>

        <input class="checks" type="checkbox">
        <label class="text-white">Remember for 30 days</label>
      </div>

      <button mat-raised-button color="primary" style="width: 100%; background-color: black; color: white;" type="submit">Log In</button>

      <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
        {{ errorMessage }}
      </div>

      <div class="buttons" style="margin-top: 20%;">
        <button class="button1">
          <mat-icon class="background-white">local_post_office</mat-icon>
          <label class="text-white" class="background-white">Iniciar sesión con Google</label>
        </button>

        <button class="button1">
          <mat-icon class="background-white">apple</mat-icon>
          <label class="text-white" class="background-white">Iniciar sesión con Apple</label>
        </button>
      </div>

      <p class="text-white">Don't you have an account? <a (click)="navigateToSignUp()" >Sign Up</a></p>
    </form>
  </div>
  <div class="image-container">
    <img [src]="'assets/images/logo-white.svg'" alt="Logo-AutoPro-Tracker">
  </div>
</div>



