<div *ngIf="customer">
  <div class="container">
    <div class="inner-container">
      <div class="header">
        <div class="subheader">Are you sure you want to delete the client?</div>
        <div class="content">
          <div class="column">
            <div class="column-content">
              <div class="textbox">Name: {{customer.name}}</div>
              <div class="textbox">Phone: {{customer.phone}}</div>
            </div>
            <div class="button-group">
              <button class="confirm-button" (click)="deleteCustomer()">Confirm</button>
            </div>
          </div>
          <div class="column">
            <div class="column-content">
              <div class="textbox">E-mail: {{customer.email}}</div>
              <div class="textbox">Address: {{customer.address}}</div>
            </div>
            <div class="button-group">
              <button class="cancel-button" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

