<body>
<div class="vector-parent2">
    <div class="products-catalog1"> Product catalog</div>
</div>
<div *ngIf="mostrarNotificacion && obtenerProductosConBajoStock().length > 0" class="low-stock-notification">
    <p>Low stock warning on:</p>
    <ul>
        <li *ngFor="let productName of obtenerProductosConBajoStock()">{{ productName }}</li>
    </ul>
    <button (click)="cerrarNotificacion()" class="close-notification">Close</button>
</div>
<div class="products-container">
    <div class="product-card" *ngFor="let product of products">
        <img
                class="product-image"
                alt="Imagen del producto"
                [src]="product.image_url"
        />
        <div class="product-info">
            <ul class="product-details">
                <li class="name">Name: {{ product.name }}</li>
                <li class="description">Description: {{ product.description }}</li>
                <li class="price">Price: {{ product.price }}</li>
                <li class="quantity">Quantity: {{ product.quantity }}</li>
            </ul>
        </div>
    </div>
</div>
</body>
