<body>
<div class="plans-container flex">
  <div class="custom-cards">
    <div class="custom-card">
      <div class="custom-card-title">Plan Básico</div>
      <div class="custom-price">$9.99/mes</div>
      <ul class="custom-features">
        <li>- Customer Management</li>
        <li>- Customer Vehicle Management</li>
        <li>- Chat with clients</li>
      </ul>
      <a href="/workshop/plans/payment" class="custom-cta-button">Join now</a>
    </div>

    <div class="custom-card">
      <div class="custom-card-title">Plan Estándar</div>
      <div class="custom-price">$15.99/mes</div>
      <ul class="custom-features">
        <li>- Customer Management</li>
        <li>- Customer Vehicle Management</li>
        <li>- Chat with clients</li>
        <li>- Invoice Management</li>
      </ul>
      <a href="/workshop/plans/payment" class="custom-cta-button">Join now</a>
    </div>

    <div class="custom-card">
      <div class="custom-card-title">Plan Premium</div>
      <div class="custom-price">$22.99/mes</div>
      <ul class="custom-features">
        <li>- Customer Management</li>
        <li>- Customer Vehicle Management</li>
        <li>- Chat with clients</li>
        <li>- Invoice Management</li>
        <li>- Stock Inventory of workshop things</li>
      </ul>
      <a href="/workshop/plans/payment" class="custom-cta-button">Join now</a>
    </div>
  </div>
</div>
</body>
