.notification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    height: 100vh;
}

.notification-container > div {
    border-radius: 10px;
    overflow: hidden;
}

.list-notfication {
    width: 80%;
    height: auto;
}

.title-home-manager {
    width: 80%;
}

.title-home-manager h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

