.notification-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    height: 100vh;
    background-color: #181a27;
}

.notification-container > div {
    border-radius: 10px;
    overflow: hidden;
}

.list-notfication {
    width: 80%;
    height: 300px;
}