<mat-form-field class="queweba">
    <mat-label>
        <mat-icon>search</mat-icon> Search
    </mat-label>
    <input matInput (keyup)="applyFilter()" placeholder="Search something" #filterInput>
</mat-form-field>

<mat-table [dataSource]="history" class="mat-elevation-z8">

    <!-- Service Date Column -->
    <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let history"> {{history.id}} </td>
    </ng-container>

    <!-- Service Date Column -->
    <ng-container matColumnDef="service_date">
        <th mat-header-cell *matHeaderCellDef> Service Date </th>
        <td mat-cell *matCellDef="let history"> {{history.service_date}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let history"> {{history.description}} </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let history"> {{history.cost}} </td>
    </ng-container>

    <!-- Mileage Column -->
    <ng-container matColumnDef="mileage">
        <th mat-header-cell *matHeaderCellDef> Mileage </th>
        <td mat-cell *matCellDef="let history"> {{history.mileage}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['ID','service_date', 'description', 'cost', 'mileage']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['ID','service_date', 'description', 'cost', 'mileage'];"></tr>
</mat-table>