
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #333;
}

.inner-container {
  display: flex;
  flex-direction: column;
}

.header {
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input[type="text"]:focus {
  border-bottom: 2px solid #3f51b5;
  box-shadow: 0 1px 0 0 #3f51b5;
  outline: none;
}

.search-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #002e43;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #001f30;
}

.status-message {
  margin-bottom: 15px;
}

.status-text {
  padding: 10px;
  background-color: #e7f4e4;
  border-radius: 4px;
  color: #2f6627;
}

.chosen-account {
  margin-bottom: 15px;
  font-size: 16px;
  color: #ffffff;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.add-button, .cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #002e43;
  color: #ffffff;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.cancel-button:hover {
  background-color: #001f30;
}

.add-button:hover {
  background-color: #388E3C;
}
